
@{
	Layout = null;
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>FileExplorer</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/fileExplorer")
</head>
<body ng-app="fileExplorerApp">
	<div class="container" ng-controller="fileExplorerController">
		<table class="col-md-4 table table-condensed table-bordered file-count-table">
			<thead>
				<tr>
					<th></th>
					<th>Less 10Mb</th>
					<th>10Mb-50Mb</th>
					<th>More 100Mb</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Files in the current directory</td>
					<td>{{ fileExplorer.SmallFilesInCurFolder }}</td>
					<td>{{ fileExplorer.MediumFilesInCurFolder }}</td>
					<td>{{ fileExplorer.LargeFilesInCurFolder }}</td>
				</tr>
				<tr>
					<td>Files in the subfolders of the current directory</td>
					<td>{{ fileExplorer.SmallFilesInSubFolders }}</td>
					<td>{{ fileExplorer.MediumFilesInSubFolders }}</td>
					<td>{{ fileExplorer.LargeFilesInSubFolders }}</td>
				</tr>
			</tbody>
		</table>
		<p class="currentpath">
			Current path: <span style="font-weight:bold">{{ fileExplorer.CurrentPath }}</span>
            <img id="mySpinner" src="~/Content/Images/spinner.gif" ng-show="loading" />
		</p>
		<table class="file-explorer-table">
			<tr ng-repeat="volume in fileExplorer.Volumes">
				<td>
					<a href="#" ng-click="open(fileExplorer, volume.Path)">{{volume.Name}}</a>
				</td>
			</tr>
			<tr ng-repeat="folder in fileExplorer.Folders">
				<td>
					<a href="#" ng-click="open(fileExplorer, folder.Path)">{{folder.Name}}</a>
				</td>
				<td>
					{{folder.Type}}
				</td>
			</tr>
			<tr ng-repeat="file in fileExplorer.Files">
				<td>
					<a ng-href="?path={{ file.Path }}">{{file.Name}}</a>
				</td>
				<td>
					{{file.Type}}
				</td>
				<td>
                {{file.FormatedSize}}
                </td>
			</tr>
			<tr>
				<td>
					<text>{{fileExplorer.AccessDenied}}</text>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>